#footer{
    background-image: url("../img/house.jpg");
    height: 50vh;
    background-size: cover;
    background-position: center;
    overflow: hidden; 

    #footerContent{
        display: flex; 
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #footertext{
        color: var(--white); 
        font-size: 60px; 
        //padding: 100px; 
         margin-top: 150px; 
    }

    #footertext2{
        font-size: 15px; 
        color: var(--white); 
        margin-top: -90px; 
    }
}