#ghoul{
    height: 75vh;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: row; 
    background-color: var(--black);
    overflow: hidden; 

    #ghoulstext{
        flex-direction: column; 
        margin-left: 150px; 
    }

    h1{ 
        color: var(--orange);
    }

    p{
        color: var(--white);
        width: 400px; 
    }

    #skeleton { 
       max-width: 500px; 
       padding: 200px; 
       
    }

    #tickets-btn {
        background-color: var(--orange); 
        border: 0px; 
        border-radius: 5px; 
        color: var(--white); 
        padding: 20px; 
    }

}