#hero {
    background-image: url(../img/hero.jpg); 
    height: 40vh; 
    background-size: cover;
    background-position: center bottom; 

    @include md{
        height: 50vh; 
    }

    @include lg{
        height: 60vh; 
    }

    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;  
    
    #first-line{
        color: var(--white); 
        font-size: rem-calc(40); 


    @include md{
        font-size: rem-calc(50); 
    }

    @include lg{
        font-size: rem-calc(60); 
    }
    }

    #skullBtn{
        border: none; 
        background-color: var(--orange);
        font-size: rem-calc(12); 
        padding: 5px 15px;
        border-radius: 8px; 
        margin-top: 24px; 
        cursor: pointer;  

    @include md{
        font-size: rem-calc(15); 
        padding: 7px 25px;
    }

    @include lg{
        font-size: rem-calc(20); 
        padding: 10px 35px;
    }
    }

}
