#section2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: var(--black);
    overflow: hidden; 

    i{ 
        color: var(--orange);
    }

    #content2{
        font-size: 16px;
        color: var(--white); 
        text-align: left; 
        width: 450px; 
        padding: 20px; 
    }
}